[Unit]
Description=Librelink Blood Sugar Gateway
After=network.target

[Service]
ExecStart=/usr/bin/node --experimental-global-webcrypto /home/jlp/libregw.js
Restart=always
Env=NODE_ENV=production
WorkingDirectory= /home/jlp
User=jlp
Group=jlp
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bsgw

[Install]
WantedBy=multi-user.target
